# Web scraping and parsing
newspaper3k
beautifulsoup4
lxml==4.9.3
requests
feedparser

# Data & NLP
pandas
nltk
python-dateutil
numpy==1.26.0


# ML and Transformers
transformers>=4.30.0


torch==2.1.2 --index-url https://download.pytorch.org/whl/cpu

# Streamlit and Visualization
jinja2>=3.0
protobuf==3.20.0
Pillow
streamlit==1.33.0
markdown-it-py>=2.2.0
Pygments>=2.13.0
rich>=10.14.0
